.elementor-1127 .elementor-element.elementor-element-70e664e .elementor-text-editor {text-align: left;}
.elementor-1127 .elementor-element.elementor-element-70e664e > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-1127 .elementor-element.elementor-element-1c66ec1 .elementor-text-editor {text-align: left;}
.elementor-1127 .elementor-element.elementor-element-907dd69 {font-family: "Times New Roman",Times New Roman;font-size: 16px;}